@font-face {
  font-family: "阿里妈妈方圆体 VF Regular";
  src: url("//at.alicdn.com/wf/webfont/2kaSkBuGZ94D/23QQuccbAC50.woff2")
      format("woff2"),
    url("//at.alicdn.com/wf/webfont/2kaSkBuGZ94D/ydhGCR7WABHP.woff")
      format("woff");
  font-display: swap;
}

:root {
  font-family: "阿里妈妈方圆体 VF Regular", Inter, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

svg {
  -webkit-user-select: none;
  user-select: none;
}

html {
  background: white;
  color: #0f0f0f;

  --tabbar-background: linear-gradient(120deg, #cdf2ff, #e2e4ff, #ece1ff);
  --tabbar-item-color: var(--base-color-light-5);
  --tabbar-item-color-active: var(--base-color);
  --base-color: #5e14ff;
  --base-color-light-3: #6e44f9;
  --base-color-light-5: #8e70f1;
  --base-color-light-7: #b29fef;
  --base-color-light-9: #e6e0fb;
}

html.dark {
  background: #1f2122;
  color: white;

  --tabbar-background: linear-gradient(120deg, #49c7fc, #9369f8, #c05cf8);
  --tabbar-item-color: #492891;
  --tabbar-item-color-active: #ffffff;
  --base-color: #210f49;
  --base-color-light-3: #2d1c52;
  --base-color-light-5: #33274e;
  --base-color-light-7: #3a324d;
  --base-color-light-9: #524c5f;
}
