:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #1b153b;
}

body {
  /* background: rgb(178, 172, 227);
  background: linear-gradient(
    18deg,
    rgba(178, 172, 227, 1) 0%,
    rgba(244, 240, 231, 1) 39%,
    rgba(208, 219, 252, 1) 100%
  ); */
}

div {
  box-sizing: border-box;
}
