@font-face {
  font-family: "阿里妈妈方圆体 VF Regular";
  src: url("//at.alicdn.com/wf/webfont/2kaSkBuGZ94D/23QQuccbAC50.woff2")
      format("woff2"),
    url("//at.alicdn.com/wf/webfont/2kaSkBuGZ94D/ydhGCR7WABHP.woff")
      format("woff");
  font-display: swap;
}

:root {
  font-family: "阿里妈妈方圆体 VF Regular", Inter, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --tabbar-background: linear-gradient(120deg, #cdf2ff, #e2e4ff, #ece1ff);
  --base-color: #5e14ff;
  --base-color-light-3: #6e44f9;
  --base-color-light-5: #8e70f1;
  --base-color-light-7: #b29fef;
  --base-color-light-9: #e6e0fb;
}

body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

svg {
  -webkit-user-select: none;
  user-select: none;
}

html {
  background: white;
  color: #0f0f0f;
}

html.dark {
  background: #2a2a2a;
  color: white;
}
